  <div class="col-xs-12 col-sm-10 user-display">
  		<div class="list-group-item person-section">
  			<div class="col-xs-4">
  				<img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="detail-pic img-responsive img-circle" />
  			</div>
  			<div class="col-xs-8">
  				<span class="name">Scott Stevens</span><br/>

  			</div>
  			<div class="col-xs-8 location">
					<span class="location"><small>Edmonton, Ab</small></span>
  			</div>
				<div class="col-xs-8 location">
					<span class="location"><small>Uploaded: 10/12/2014</small></span>
  			</div>

  			<div class="clearfix"></div>
  		</div>


  	</div>
  	<img src="../images/bbq1.jpg" class="food-picture-detailed thumbnail">

