 <div class="row profile-page">
	 <div class='col-xs-12 profile-page '>
                    <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg" alt="" class="img-rounded img-responsive profile-center-image center-block" >

			</div>
        <div class="col-xs-12 col-sm-4 col-md-4">
{{ user.firstName }}
<p></p><i class="glyphicon glyphicon-map-marker"></i> <small><cite title="Source Title">{{ user.city}}, {{user.province}}  </cite></small>
<p> <i class="glyphicon glyphicon-envelope"></i> {{user.email}}                <br
/> <i class="glyphicon glyphicon-globe"></i> {{user.country}}
<br /> <i class="glyphicon glyphicon-gift"></i> {{user.createdAt}}</p>
        </div>
       			</div>
