<div class="wrapper register">
  <h1 class="info-text">Register For An Account</h1>
  <p class="info-text">To sign-up for a free basic account please provide us with some basic information using
  the contact form below. Please use valid credentials.</p>
  <form class="form" id="signup-form" ng-submit="submitCreate()">
    <input type="text" class="name" placeholder="First Name">
    <input type="text" class="name" placeholder="Last Name">
    <input type="password" class="name" placeholder="Password">
    <input type="text" class="name" placeholder="Address">
    <input type="text" class="name" placeholder="City">
    <input type="text" class="name" placeholder="Province">
    <input type="text" class="name" placeholder="Age">
    <input type="email" class="email" placeholder="Email">
    <input type="submit" class="submit" value="Register">
  </form><br/>
  <p class="info-text">By clicking register the user agrees to the <a data-toggle="modal" data-target="#myModal">Terms of Service</a>. Violtion of these rules can result in the removal of account and possible legal action. Canadian Tire&reg; is not responsible for the actions of the users and content created.</p>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Terms of Service</h4>
      </div>
      <div class="modal-body">
        <p class="info-text2">Terms of serivce placeholder</p>
        <p class="info-text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales est risus, eu scelerisque erat egestas vel. Pellentesque sed massa sapien. Proin sed pulvinar justo. Donec feugiat nibh rhoncus leo cursus, quis pellentesque tortor scelerisque. Aenean bibendum pellentesque turpis in aliquam. Suspendisse nibh mi, facilisis et fringilla ac, malesuada a odio. Cras erat eros, ultrices nec pretium a, porttitor vitae justo. Integer accumsan neque ut enim euismod, eget eleifend ligula ultricies. Suspendisse fringilla scelerisque ante, vitae mollis velit lacinia sed. Maecenas est massa, volutpat nec ipsum ac, adipiscing ultricies neque. Praesent ac elit nec magna consequat luctus et sed dui.
        	<br/>
		Vivamus molestie purus nisl, eget feugiat quam mollis et. Nunc dignissim euismod odio. Donec cursus pellentesque blandit. Duis volutpat eget turpis et pretium. Etiam pharetra enim erat, sit amet vehicula quam lobortis in. Morbi lobortis eu est vel iaculis. Proin tempus urna nunc, at fermentum libero pulvinar sit amet.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>