<div class="fileinput fileinput-new col-xs-12" data-provides="fileinput">
  <div class="fileinput-preview thumbnail upload-image" data-trigger="fileinput" style=""></div>
  <div class="pic-btns">
    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
  </div>
</div>
  <form class="upload-submit">
  	<input type='text' placeholder="Enter a Title">
  	<input type="text" placeHolder="Enter a Short Description">
  	<input type="submit" class="btn btn-success upload-submit-button" value="Submit" ng-submit="uploadPicture()">
  </form>